@use 'sass:math';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    // background-color: rgb(230, 218, 206);

    &.modal-open {
        padding: 0 !important;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(md) {
        padding-left: math.div($grid-gutter-width, 2);
        padding-right: math.div($grid-gutter-width, 2);
    }
}

.preload * {
    transition: none !important;
}

.center-content-sm {
    @include media-breakpoint-up(sm) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}
