@import '../global/imports';

.card {
    $self: &;
    position: relative;
    height: 100%;

    &__container {
        background-color: $white;
        box-shadow: -5px 5px 5px 0px $gray-400;
        border-radius: 10px;
        padding: $space-2;
        position: relative;
        z-index: 10;
        flex-direction: column;
        height: 100%;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }
    }

    &__image {
        margin-bottom: $space-2;
        max-height: 250px;
        overflow: hidden;
        margin-bottom: $space-2;
        position: relative;

        img {
            border-radius: 10px;
            margin: 0;
        }

        .link {
            position: absolute;
            bottom: 5px;
            right: 10px;
            background-color: $dark;
            padding: 10px;
            border-radius: 100%;
            color: $white;
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: 0px 0px 5px 3px lighten($dark, 20%);
            }
        }
    }

    &__details {
        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
        }

        .subtitle {
            font-style: italic;
            font-size: 14px;
        }

        .description {
            font-size: 12px;
        }
    }

    &--grid {
        #{$self}__container {
            display: flex;
        }

        #{$self}__details {
            @include media-breakpoint-up(sm) {
                margin-left: $space-2;
            }
        }
    }
}
