@import '../global/imports';

.card {
    $self: &;
    position: relative;

    &:after {
        content: '';
        width: 30px;
        height: 100%;
        background-color: #e5e5e5;
        position: absolute;
        right: -10px;
        top: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 0;
    }

    &__container {
        display: flex;
        background-color: #efeff6;
        border-radius: 20px;
        padding: $space-3 $space-2;
        position: relative;
        z-index: 10;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
            padding: $space-3;
        }
    }

    &__image {
        margin-bottom: $space-2;

        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }

        img {
            border-radius: 10px;
            margin: 0;
        }
    }

    &__details {
        @include media-breakpoint-up(sm) {
            margin-left: $space-4;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
        }

        .subtitle {
            font-style: italic;
            font-size: 14px;
        }

        .description {
            font-size: 12px;
        }

        button {
            a {
                font-size: 12px;
            }
        }
    }
}
