@import '../global/imports';

.footer {
    $self: &;
    background-color: $white;
    z-index: 10;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &__container {
        padding: $space-4 $space-3;
        font-size: 12px;
        text-align: center;
    }

    &__copyright {
        display: flex;
        flex-direction: column;

        a {
            color: $black;
        }
    }
}
