@import '../global/imports';

.list {
    $self: &;
    padding: 0;
    margin: 0;
    list-style-type: none;

    // modifier

    &--inline {
        li {
            display: inline-block;
            margin-bottom: $space-1;

            &:not(:last-child) {
                padding-right: $space-3;
            }
        }
    }

    &--styled {
        list-style-type: disc;
        padding-left: $space-3;
    }
}
