@import '../global/imports';

.list {
    $self: &;
    padding: 0;
    margin: 0;
    list-style-type: none;

    // modifier

    &--inline {
        li {
            display: inline-block;

            &:not(:last-child) {
                padding-right: $space-3;
            }
        }
    }
}
