@import '../global/imports';

.main-layout {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    &__side {
        background-color: #e6dace;
        width: 45%;
        height: 70%;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: -1;

        @include media-breakpoint-up(sm) {
            width: 40%;
            height: 100%;
        }
    }
}
